<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Car_Wash_El_Catracho"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MapaUBI"
            android:exported="false" />
        <activity
            android:name=".MapaHistoria"
            android:exported="false" />
        <activity
            android:name=".Informe_admin_cot"
            android:exported="false" />
        <activity
            android:name=".Notificacion"
            android:exported="false" />
        <activity
            android:name=".Historial_Notificaciones"
            android:exported="false" />
        <activity
            android:name=".Dato_Historial"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCXwx397HAM8Tv0sK-ofbytY7ECbA-W2cI" />

        <activity
            android:name=".mapa"
            android:exported="false" />
        <activity
            android:name=".Agregar_Auto"
            android:exported="false" />
        <activity
            android:name=".Activity_User"
            android:exported="false" />
        <activity
            android:name=".Informacion_decambio"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cotizacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lista_Autos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tipo_Lavado"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navegacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".password"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recuperar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Verificacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>